*,
*::before,
*::after {
  box-sizing: border-box;
}
/*modificando los datos personales por david*/

h2{
text-align: center;
}
/*terminacion de l aedicion de los datos*/
img {
  display: block;
}

.gallery {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  /*border: 2px solid red;*/
  width: 70%;
  float: right;
  right: 0;
}

.gallery #contentImagen {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding:0px 10px 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  cursor: help;
  position: relative;
  /*display: flex;
  justify-content: space-between;*/
  /*border: 2px solid black;*/
  }
.gallery #contentImagen h2{
  width: 100%;
  /*border: 2px solid red;*/
  margin: 0;
  font-family: sans-serif;
}
.gallery #contentImagen  img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;

  width:100%;/*para que agarre el 100 del div que lo contiene*/
  height:200px;/*para que agarre el 90px del div que lo contiene*/
  display: block;/*para que pueda agarrar los parametros de el div*/
  margin: auto;/*margin auto para que se ajuste a la pantalla*/
}

@media (max-width: 580px){
.gallery #contentImagen  img {
  height: 100px;
}
}